.container{
    text-align: center;
   
    
}
.title{
    margin-top: 50px;
    color:rgb(173, 28, 28);
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;

}

.reset{
    width: 250px;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: rgb(39, 85, 159);
    font-size: 26px;
    font-style: italic;
    color: rgb(48, 207, 53);
    margin-top: 25px;
    margin-bottom: 50px;


}
.boxes{
    display: flex;
    height: 180px;
    width: 180px;
    background-color: rgb(39, 85, 159);
    border: 4px soil #0f1b21;
    border-radius: 12px;
    cursor: pointer;
}

.board{
    height: 600px;
    width: 500px;
    display: flex;
    margin: auto;

}
.boxes img{
    margin: 50px 50px;
}
.title img{
    padding: 20px 20px;
    height: 50px;
}
